<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <style>
      h1 {
        text-align: center;
      }

      a {
        color: #1b8816;
      }
    </style>
  </head>
  <body>
    <h1>Your <em>To do</em> list has an update!</h1>

    {{ content_for_layout }}
  </body>
</html>